<h2>OTHER</h2>

<ul>
  <li><%= link_to 'Manage Days', days_path %></li>
  <li><%= link_to 'Manage Types', entry_types_path %></li>
  <li><%= link_to 'Download csv for all data', home_download_csv_path %></li>
</ul>
